body {margin-left: 0px;margin-right: 0px;margin-top: 0px;margin-bottom: 0px;font-size: 10pt;font-family: Verdana, Arial, Helvetica, sans-serif}
div {margin:0;padding:0;border:0;background:transparent}
.w8 {width:815px; clear:both}
.s15 {height:15px;line-height:8px;width:150px;clear:right}
#bd {width:817px}
#tp {border: 1px solid #000; border-top:0}
#tt {height:31px;text-align:left}
#tu {height:31px;font-size:10px;line-height:12px;float:right;width:200px;text-align:right;padding-right:10px;color:#bbbbbb}
#tu a {text-decoration:none;color:#bbbbbb}
#tu a:hover {color:#6D9F1A}
#tb {background:#5D8C30;width:100%;line-height:2px;height:3px;clear:left}
#ul {float:left;width:350px}
#ur {float:right;width:200px;text-align:right}
#us {width:291px;background-image: url(p1/ln_b.gif);background-repeat: repeat-x;}
#ut {float:right;clear:right;padding-top:20px;width:290px}
#un {border-bottom:1px solid #000;}
#fn {border: 1px solid #000; border-top:0;background-image: url(p1/grdsr.gif);background-repeat: repeat-y}
#fl {border-top: 1px solid #000;width:100%;}
td {vertical-align:bottom;border:0;padding:0}
td.ll {width:165px}
td.rr {width:290px;background-image: url(p1/grgrd.gif);background-repeat: repeat-y;vertical-align:top}
td.mc {}
td.mr {width:10px}
#ft {height:40px}
#ft td.ll, td.ml, td.mc, td.mr {border-top: 1px solid #000}
td.rt {text-align:right}
td.mr {background: #87C313}
td.mg {background: #87C313}
#sr td {height:18px}
#sf {background-image: url(p1/sr_rp.gif);background-repeat: repeat-x;width:250px}
#sf input {padding:1px 0 0;margin:1px 0 0;font-size:10px;height:13px;width:240px;background:transparent;border:1px solid #fff;border:none}
#sep {height:20px}
#cn {border: 1px solid #000;text-align:left}
#ca {width:166px}
#ct {clear:both}
#bp {width:40px}
#ct table tr td {vertical-align:top;border:0;padding:0}
#cp {width:150px}
#cl {width:150px}
#ch {width:50px}
td.br {background:#6D9F1A;width:4px}
td.bs {width:12px}
tr:hover td.bs {background-image: url(p1/gt.gif);background-repeat: no-repeat}

#us ul{overflow: hidden;list-style:none;border: none;margin: 0;padding: 0}
#us ul li {float:left;margin: 0;padding: 0}
#us ul li.df{width:65px}
#us ul li.sp {width:5px;}
#us ul li.dv {width:85px;}
#us ul li.rnd {border-bottom:1px solid #000}
#us ul li.sp b{display: block;width:5px;height:25px;border-bottom:1px solid #000;border-top:1px solid #fff; margin:0;padding:0}
#us ul li a{font: 11px arial;text-align: center;display: block;padding: 0px 12px 0px;background: none;height: 25px;color: #AAA;text-decoration: none;margin:0;border:1px solid #000}
#us ul li a:hover{color:#fff;border:1px solid #000;background: #6D9F1A}
#us ul li a.pg{background:#87C313;color:#000;border-bottom:1px solid #87C313}
#us ul li a.pg:hover{border-bottom:1px solid #87C313}
li.sp b span {line-height:6px}
.h6 {line-height:6px}

#shw {text-align:left;width:600px;margin:0 0 25px 175px;}
#shw a{text-decoration:none;color:#444444}
#shw a:hover{color:#87C313;}
.fbt {clear:both;width:815px;height: 20px;margin: 0;padding:0;border:0;font-size: 10px;text-align: left}
.fbt a {text-decoration:none;color: #BBBBBB}
.fbt a:hover {color: #87C313}
#edit_tag {text-align:right; padding: 0 10px 6px 0; margin: 0;}
#edit_tag a {text-decoration:none;color: #BBBBBB; font-size:14px;}
#edit_tag a:hover {color: #6D9F1A}

