#screen {display: none; background-image: url(screen.png); position: absolute; padding:0;margin:0;top: 0px;left: 0px;z-index: 90; width: 100%; height:100%; }
#editDialog {visibility: hidden;position: absolute;top: 10px;left: 10px;width: 554px;border: 0;border-collapse: collapse;z-index: 100; }

a img {border:0}

input.i2 {width:25px}
input.i3 {width:30px}
input.i5 {width:50px}
input.i7 {width:70px}
input.i10 {width:100px}
input.i13 {width:130px}
input.i16 {width:160px}
input.i19 {width:190px}
input.i22 {width:220px}
input.i25 {width:250px}
input.chkbx {padding:0 3px;margin:0;height:10px}
table.inpte {border:0;width:100%}
table.inpte td {vertical-align:top}
table.inpte td.rt {text-align:right;padding-left:10px}

